@model EncryptAllMethods.Models.intEncipher

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>monoalphabetic</title>
</head>
<body>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    
    
    @using (Html.BeginForm()) 
    {
        @Html.AntiForgeryToken()
        
        <div class="form-horizontal">
            <h4>Monoalphabetic Cipher</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.input, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.input, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.input, "", new { @class = "text-danger" })
                </div>
            </div>
    
            
    
            <div class="form-group">
                @Html.LabelFor(model => model.output, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.output, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.output, "", new { @class = "text-danger" })
                </div>
            </div>
    
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Encrypt" class="btn btn-default" />
                </div>
            </div>
        </div>
    }
    
    
</body>
</html>
